@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

*{
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none; border:none;
  text-transform: capitalize;
  transition: all .2s linear;
}

$red:rgb(187, 184, 33);
$black : #000;
$white : #fff;
$light-white:rgb(136, 136, 136);
$light-bg:#111;



html{
  //font-size: 62.5%;
  scroll-behavior: smooth;
  margin:0;
  scroll-padding-top: 5rem;
  overflow-x: hidden;
  color:$white;
/* 
  &::-webkit-scrollbar{
    width: 1rem;
  }

  &::-webkit-scrollbar-track{
    background: $black;
  }

  &::-webkit-scrollbar-thumb{
    background: $red;
  } */
}

body{
  background: $black;
}
#menu-btn{
  font-size: 3rem;
  color:$white;
  cursor: pointer;
  display: none;
}
p{
  line-height: 2;
  color:$light-white;

}
.btn{
  background: $red;
  display: inline-block;
  font-size: 18px;
  padding:1rem 2.8rem;
  padding-right: 3rem;
  color: $white;
  cursor: pointer;
  font-weight:bold;
  z-index: 2;
 
  //clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0 56%, 0% 0%);
  
  &:hover{
    transform: scale(1.1) !important;
    color:$red;
    background-color: transparent;
    
    
  }
}


//-------------------------------------------
//------ NAVBAR------------------------------

.header{
  position: fixed;
  top:0; left:0; right:0;
  display:flex;
  justify-content:space-between;
  font-size: 24px;
  color: $white;
  padding:8px 9%;
  background: $black;
  z-index: 100000;
  
  .logo{
   color:$white;

    span{
      font-weight: bold;
      color: $red;
    }
  }
  .navbar a{
    text-align: center;
    font-size:20px;  
    padding: 9px;
    color:$white;
    z-index: 1;

     &:hover{
      background:$red;
     }
  
  }

}
//------ HOME ------------------------------
.home{
  width:100%;
  padding:0;
  margin-top: 50px; //<--- debe ser igual abajo los px

  .slide{
    height:calc(100vh - 50px); //<--- los px debe ser igual que margin top
    height: 95vh;
    position:relative;
    background-size: cover !important;
    background-position: center !important;
    display:flex;
    align-items:center;
    justify-content: start;
    z-index: -1;

    &::before{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color:rgba(214, 202, 32, 0.068);
      z-index: -1;
    }

    .content{
      margin-left: 5%;
      //background-color:rgb(68, 0, 255);
      width:60%;
      height: 10%;

      span{
        font-size: 2rem;
        color:$red;
        font-weight: bold;
        display: block;
      }

      h2{
        font-size: 3rem;
        color:$white;
        padding:1rem 0;
      }
    }
  }
}

//------- estilos botones slider ----------

.swiper-pagination-bullet{
  width:30px;
  height:30px;
  border-radius: 0;

  &.swiper-pagination-bullet-active{
    background: $red;
   }
}

section{
  padding:2rem 2%;
}

//-------- ABOUT --------------------------------
.about{
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  height:80vh; 
  
  .image {
    //background: red;
    width: 50%;
    padding-right: 2px;
    text-align: center;
    padding-top: 50px;

    img{
      max-width: 70%;

    }

  }
  .content{
    //background: blue;
    left: 0;
    right: 0;
    width: 50%;
    padding: 10px;
    margin-top:0px;
    .btn{
      padding-top: 20px;
    }
    
    span{
      color: $red;
      font-weight: bold;
      font-size:26px;

    }
    h3{
      font-size: 30px;
      padding-top: 10px;
    }
    p{
      line-height: 2;
      color:$light-white;
    }
    .box-container{
      //background-color: pink;
      display: flex;
      flex-wrap: wrap;

      .box{
        //background-color: green;
        //border: 1px solid green;
        margin: 2px;
        margin-top: 5px;
        padding: 10px;
        width: calc((100% - 10px) / 2);

        h3{
            font-size: 20px;
            padding-top: 10px;

            i{
              color: $red;
              padding-right: 10px;
            }
        }
      }
    }
  }
}
//-------------- FEATURES ------------
.heading{
  text-align: center;
  margin-bottom: 1rem;
  position: relative;

  &::before{
    content: '';
    position: absolute;
    top:50%; 
    left:0;
    transform: translateY(-50%);
    height: 2px;
    width: 100%;
    background: $light-white;
    z-index: -1;
  }

  span{
    font-size: 28px;
    color:$red;
    background: $black;
    padding:.5rem 1.5rem;
    border:.1rem solid $light-white;
    border-radius: .5rem;
    z-index: 1;
  }
}
.features{
  // background-color:green;
   text-align: center;
   margin-top: 150px;
   
   .box-content{
     //background-color: red;
     padding-left: 10%;
     display: flex;
     width: 90%;
     justify-content:center;
    }
   .box{
     width: calc(90% / 3);
     background-color: $light-bg;
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
     overflow:hidden;
     //border: 5px solid green;

     &:hover .image img{
      transform: scale(1.1);
    }

     .image{
      height: 20rem;
      width: 100%;
      overflow:hidden;

      img{
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
         
    }
     .content{
      // background-color: red;
       max-width:90%;
       text-align: center;
       padding: 10px;
       overflow:hidden;
       
 
         img{
           filter: invert(1);
           margin-top: 25px;
           padding-bottom: 10px;
           height: 100px;
         }
 
         h3{
           color: $red;
           font-weight: bold;
         }
         p{
          // background-color: blue;
           line-height: 2;
           text-align: center;
           margin-bottom: 10px;
           color:$light-white;
         }
         .btn{
           padding: 10px;
         }
       }
     
   }
 }

 //-------PRICING ----------------------------------------------------------------

 .pricing{
 // text-align: center;
  //margin-top: 250px;
 // display: flex;
 
  //text-align: center;
  margin-top: 150px;
 
 .box-content{
   //background-color: red;
   padding-left: 10%;
   display: flex;
   width: 90%;
   justify-content:center;
   flex-wrap: wrap;
  }
    .box{
      width: calc(90% / 3);
      padding: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      span{
        font-size: 48px;
        font-weight: bold;
        color:$red;
      }
      h3{
        font-size:28px;
        padding-bottom: 20px;
        font-weight: bold;
      }
      .fas{
        // background-color: blue;
         line-height: 4;
       }
      i{
        color: $red;
      }
 }
 .second{
  background-color: $light-bg;
 }
}
//---------- TRAINERS -------------
.trainers{
  // background-color:green;
   text-align: center;
   margin-top: 100px;
   height: 100vh;
   
   .box-content{
     //background-color: red;
     padding-left: 10%;
     display: flex;
     width: 90%;
     justify-content:center;
    }

   .box{
     width: calc(90% / 3);
     background-color: $light-bg;
     display: flex;
     margin: 4px;
     flex-direction: column;
     align-items: center;
     text-align: center;
     overflow:hidden;
     position: relative;
     //border: 5px solid green;

     &:hover .content{
      transform: translateY(15%);
    }
 
  
     .image{
      height: 28rem;
      width: 100%;
      overflow:hidden;

      img{
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
         
    }
     .content{
       background-color: $light-bg;
       //border: 2px solid blue;
       display: flex;
       flex-direction: column;
       //justify-content:center;
       align-items:center;
       width:100%;
       text-align: center;
       overflow:hidden;
       position: absolute;
       left:0;
       right:0;
       bottom: 13px;
       transform: translateY(50%);
       transition: all 0.5s ease;
       
     
         hr{
          margin-top: 15px;
          height: 2px;
          width: 90%;
          background-color: $red; /* Modern Browsers */
          }
      
         h3{
           color: $red;
           font-weight: bold;
         }
         p{
          // background-color: blue;
           line-height: 2;
           text-align: center;
           margin-bottom: 10px;
           color:$light-white;
         }
      
         .share{
           //background-color:red;
           width: 60%;
           display: flex;
           justify-content:space-between;
           margin-top: 10px;
           padding-bottom: 20px;

           a{
             color: $white;
             font-size: 22px;
           }
         }

       }
     
   }
 }
//------------- PARRALLAX ---------
.parallax{
  margin-top:50px;
  margin-bottom: 150px;
  background-image: url('/images/banner-bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  z-index: -1;

  &::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.644);
    z-index: -1;
}
  
  .box-content{
    //background-color: red;
    padding-left: 10%;
    display: flex;
    width: 90%;
    justify-content:center;
   }

  .box{
    width: 60%;
   // background-color: $light-bg;
    display: flex;
    margin: 4px;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h2{
      padding: 20px;
    }
  }

}

//------------ TESTIMONIALS ---------- 
.testimonials{
  flex-wrap: wrap;
   }
  
  .box-content{
    //background-color: red;
    padding-left: 10%;
    display: flex;
    width: 90%;
    justify-content:center;

    .box1{
     // background-color:blue;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 40%;

      p{
        width:70%;
      }
    }
    .box2{
     // background-color:red;
      width: 60%;
      display: flex;
      
          .testimonials-slider{
            .slide{
             border: 4px solid black;
             padding: 10px;
             background-color:$light-bg;
             background:linear-gradient(150deg,  $light-bg 23%, transparent 85%);
       
    
      .user-profile{
       // background-color:yellow;
        display: flex;
        img{
          border-radius:50%;
          width:15%;
          padding: 5px;
        }
        .user-info{
         // background-color:pink;
          padding: 5px;
        }
      }

  }

 }
 }

}

//--------- BLOG ------------
.blog{
  // background-color:green;
   text-align: center;
   margin-top: 150px;
   
   .box-content{
     //background-color: red;
     padding-left: 13%;
     display: flex;
     width: 90%;
     justify-content:center;
    }
   .box{
     width: calc(95% / 3);
     margin: 1px;
     background:linear-gradient(130deg,  $light-bg 73%, transparent 85%);
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
     overflow:hidden;
     //border: 5px solid green;

     &:hover .image img{
      transform: scale(1.1);
    }

     .image{
      height: 20rem;
      width: 100%;
      overflow:hidden;

      img{
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
         
    }
     .content{
      // background-color: red;
       max-width:90%;
       display: flex;
       flex-direction: column;
       align-items: start;
       padding: 10px;
       overflow:hidden;

       .date{
         color: $red;
         span{
           color: white;
         }
       }
    
         h3{
           color: $red;
           font-weight: bold;
           margin-top: 10px;
         }
         p{
          // background-color: blue;
           line-height: 2;
           text-align:start;
           margin-bottom: 25px;
           color:$light-white;
         }
         .btn{
           padding: 10px;
           display: block;
         }
       }
     
   }
 }

//------ FOOTER --------------------------------

.footer{
  //background-color:red;
  width: 100%;
  height: 100%;
  padding:2rem 2%;

  .footer-content{
    width: 90%;
    padding: 2rem 2%;
    margin-left: 10%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    //background-color:green;

    .footer-item{
      //background-color:blue;
      line-height:2;
      width: 30%;
      margin: 5px;

      h3{
        font-size:22px;
        margin-bottom: 15px;
      }

      p{
        font-size:18px;
        line-height: 3;
        i{
          color:$red;
        }
      }

      span{
        font-style: oblique;
        color: $red;
      }
    }
    .contact-form{
      width: 100%;
      padding: 0 5px;
    }
    .contact-form form{
      width: 100%;
      max-width: 480px;
      background-color: $light-bg;
      border-radius: 4px;
      padding: 30px;
      margin: auto;
    }
    .contact-form textarea{
      height: 160px;
      resize: none;
      padding-top: 15px;
    }
    .contact-form button{
      width: 100%;
    }

    .form-control{
      height: 45px;
      width: 100%;
      display: block;
      margin-bottom: 30px;
      padding: 0 10px;
      border-radius: 30px;
      background-color: $black;
      border: 1px solid transparent;
      font-size: 16px;
      color: $white;
      transition: all 0.5s ease;
    }
    .form-control::placeholder{
      color: $white;
    }
    .form-control:focus{
      border-color: $red;
    } 
    .btn-1{
      background-color: $red;
      color: $white;
    }
    .btn-1:hover{
      background-color: transparent;
      border: 1px solid $red;
      color: $red;
      cursor: pointer;
  }

  }
}
.footer-end{
  text-align: center;
  width: 100%;
  background-color: $light-bg;
}





@media (max-width: 950px){

  #menu-btn{
    display: inline-block;
    font-size:30px;

    &.fa-times{
      transform: rotate(180deg);
    }
  } 

  .navbar{
    position:absolute;
    background-color:rgb(0, 0, 0);
    display: flex;
    align-items:start;
    flex-direction: column;
    left: 0;
    padding-left: 50px;
    width: 100%;
    top: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

    &.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  
  }

  .about{
    margin-bottom: 900px;
   
    .image {
      width: 100%;
    }
    .content {
      width: 100%;
      //background-color:red;

      .box{
        width: calc((100% - 10px) / 3);
      }
    }

  }

  .features{
    .box-content{
      display: flex;
      flex-wrap: wrap;
      .box{
        width: 100%;
        margin: 5px;
      }
    }
  }

  .pricing{
    .box-content{
      width: 80%;
      display: flex;
      flex-wrap: wrap;
      .box{
       // background-color:green;
        width: 100%;
        margin-left: 9%;
       // margin-left: 15px;
      }
    }
  }

  .trainers{
    margin-bottom: 450px;
    width: 100%;
   // background-color:blue;
    .box-content{
      //background-color:red;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      .box{
        width: calc(100% / 3);
        //margin: 5px;
      }
    }

  }

  .testimonals{
    .box-content{
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: -100px;
    }
    .box1{
      width: 100%;
      margin-bottom: 30px;
    }
    .box2{
      width: 100%;
    }
  }

  .footer{
    .footer-content{
      width: 100%;
      margin-left: 2px;
      .footer-item{
        width: 40%;
        padding-top: 20px;
      }
    }
  }

}

@media (max-width: 660px){

  .home{
    .slide{
      height: 70vh;
      .content{
        margin-top: -120px;
        h2{
          font-size: 1.5rem;
        }
        .btn{
          padding: 5%;
        }
      }
    }
  }

  .about{
    width: 100%;
    margin-bottom:130%;

    .content{
      width: 100%;
      margin: 0;
      padding: 0;
      .box-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding :2px;
        //background-color:green;
  
        .box{
          width: calc(100%  / 2);
          padding :2px;
         // background-color: red;
        }
        
      }
      .btn{
        display: none;
      }

    }
    
  }
  .features{
    margin-top: 200px;
  }

  .trainers{
    margin-bottom: 220%;
    width: 100%;
    //background-color:blue;
    .box-content{
      //background-color:red;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      .box{
        width: 90%;
        //margin: 5px;
      }
    }

  }

  .footer{
    .footer-content{
      width: 100%;
      margin-left: 2px;
      
      .footer-item{
        width: 100%;
        padding-top: 20px;
        text-align: center;
      }
    }
  }

}
@media (max-width: 590px){

  .about{
    margin-bottom: 900px;
  }
  .trainers{
    margin-bottom: 320%;
    width: 100%;
  }
  /* .parallax{
    display: none;
  } */
}

@media (max-width: 430px){

  html{
    font-size: 90%;
  }
  .about{
    margin-bottom: 700px;

    .box-container{
     
      .box{
        width: 100%;
      }
    }
    
  }
}